* {
    margin: 0;
    padding: 0;
}

.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(41, 34, 34, 0.5), rgba(0, 1, 3, 0.5)), url('assets/college.jpg');
    background-position: center;
    background-size: cover;
    position: relative;
}

.navBar {
    margin-left: 600px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 100%;
}

.logo {
   
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
}

.address {
    color: rgb(165, 18, 62);
    font-weight: bold;
    margin-top: 10px; 
    
}
.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    width: 50%;
}

.courses {
    background-color:rgb(228, 228, 201);
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
}

.courseimg {
    padding-top: 50px;
    width: 300px;
    margin: auto;
}

.courseList {
    padding-top: 100px;
    width: 600px;
    height: 300px;
    margin: auto;
    font-size: 20px;
}

.demo {
    list-style: none;
    columns: 2;
    column-gap: 20px;
}

.demo li {
    background-color: #de5858;
    border: 1px solid #802d2d;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    break-inside: avoid;
    font-size: 14px;
}


.gallery {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    background-color: beige;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.pic1col {
    flex: 0 0 400px; 
    text-align: center;
    margin: 20px;
}

.pic1col img {
    width: 100%;
    height: auto;
    max-height: 250px;
    border-radius: 8px;
}
